<!DOCTYPE html>
<%- include('../partial/head') %>

  <body>
    <%- include('../partial/header', {req:req}) %>

    <div class="row justify-content-center mt-3">
     <div class="col-5">
        <ul class="list-group">
            <li class="list-group-item">Number of Users</li>
            <li class="list-group-item">Number of Posts</li>
            <li class="list-group-item">Number of Visits</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>
     </div>
    </div>
    
<%- include('../partial/footer') %>   
</body>

</html>
