<!DOCTYPE html>
<% var dir = process.cwd() %>
<%- include('../partial/head') %>

  <body>
    <%- include('../partial/header', {req:req}) %>

    <section>
        <%  if (posts.length> 0) {
            let counter = 1
            posts.forEach((post)=> { 
        %>    <%- include('../partial/showPost', {post:post, req:req}) %>
        <%      counter++
            })
            }
        %>
    </section>
    
<%- include('../partial/footer') %>   
</body>

</html>