<!DOCTYPE html>
<html lang="en">
<%- include('../partial/head') %>

    <body>
        <%- include('../partial/header', {req:req}) %>
        <div class="container-fluid">
            <h1>Log in</h1>
            <form method="post" action="/login/login">
                <label for="l_name">user name:</label>
                <input type="text" name="username" placeholder="user name">
                <label for="l_password">password:</label>
                <input type="password" name="password" placeholder="password"><br>
                <input type="submit" value="Log in" />
            </form>
            <br><br>
            <form action="/signup" method="get" style="display: inline-block;">
                <input type="submit" value="Sign up" />
            </form>
        </div>
    <%-include('../partial/footer')-%>
    </body>

</html>