<!DOCTYPE html>
<html lang="en">
<%- include('../partial/head') %>

    <body>
        <%- include('../partial/header') %>
        <div class="">
            <h1>Sign up</h1>
            <form method="post" action="/signup/signup">
                <label for="l_name">user name:</label>
                <input type="text" name="username" placeholder="user name">
                <label for="l_password">password:</label>
                <input type="password" name="password" placeholder="password"><br>
                <input type="submit" value="Sign up">
            </form>
        </div>
    <%-include('../partial/footer')-%>
    </body>

</html>