<header>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="public/images/reddit.png" alt="Home icon" width="50" height="50">
        Rabbit
      </a>
      <form class="d-flex col-6" role="search" action="/search" method="get">
        <input class="form-control" type="search" placeholder="Search Rabbit">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <% if (req.session.isLogin) {  %>
        <a class="navbar-brand d-flex align-items-center" href="/<%= (req.session.isLogin) ? 'user/' + req.session.user : 'login'%>">
          <i class="bi bi-person-circle mx-2" style="font-size:35px;"></i>
          <span><%= req.session.user %></span>
        </a>
      <% } else { %>
        <a href="/login" class="btn btn-outline-success active" role="button">Login/Sign Up</a>
      <% } %>
    </div>
  </nav>

</header>