<div class="col-1 px-4 py-5">
    <nav class="navbar bg-light">
        <ul class="navbar-nav my-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active">Home</a>
            </li>
            <li>
                <a href="#" class="nav-link">Category A</a>
            </li>
            <li>
                <a href="#" class="nav-link">Category B</a>
            </li>
            <li>
                <a href="#" class="nav-link">Category C</a>
            </li>
        </ul>
    </nav>
</div>