<div class="w-auto px-4 py-5">
    <nav class="navbar bg-light p-2">
        <ul class="navbar-nav my-auto">
            <li class="nav-item">
                <a href="/" class="nav-link active">Home</a>
            </li>
            <%  if (categories.length> 0) {
                posts.forEach((cat)=> {%>    
            <li>
                <a href="/category/<%= cat.category %>" class="nav-link"><%= cat.category %></a>
            </li>
            <%  })
                }
            %>
        </ul>
    </nav>
</div>