<% if (req.session.isLogin) { %>
<div class="card card-body">
    <form class="row g-2 my-2 d-flex align-items-center" method="post" action="/crud/post/create/0">
        <label class="form-label w-auto">New post in </label>
        <div class="col-5">
            <select class="form-control w-auto" name="category">
                <!-- loop category options here-->
                <option value="" selected>--Select Category--</option>
                <option value="Category A">Category A</option>
            </select>
        </div>
        <button class="btn btn-primary ms-auto w-auto" type="submit">Submit New Post</button>
        <input class="form-control col-12" name="header" placeholder="Post Header">
        <textarea class="form-control col-12 my-2" name="content" rows="3" placeholder="Post Content"></textarea>
    </form>
</div>
<br/>
<% } %>